@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
#left{
    width: 75%;
    height: 100vh;
    float: left;
}
#right{
    width: 25%;
    height: 100vh;
    float: right;
}
#video_player{
    width: 100%;
    height: auto;
}
#progress_box{
    width: 100%;
    height: 10px;
    background-color: white;
    margin-bottom: 3px;
}
#progress_bar{
    width: 0%;
    height: 10px;
    background: #800080; 
    background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  
    background: linear-gradient(to right, #ffc0cb, #800080);
}
#control{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#play_btn{
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
#right_btn,#left_btn{
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#play_tools{
    display: flex;
    justify-content: center;
    align-items: center;
}
#v_timming{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
#volume,#setting,#full_screen{
    color: white;
    font-size: 26px;
    margin-right: 20px;
}
#timming,#play_tools,#other_tools{
    width: 33.33%;
}
#other_tools{
    display: flex;
    justify-content: flex-end;
}
#top{
    width: 100%;
    height: 17%;
    background: #DBE6F6;  
    background: -webkit-linear-gradient(to right, #C5796D, #DBE6F6);  
    background: linear-gradient(to right, #C5796D, #DBE6F6); 
    padding: 20px;
    position: relative;
}
#top h3{
    text-align: center;
    font-size: 20px;
}
#search{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
    outline: none; 
}
#open_video_box_btn{
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
#add_video_box{
    width: 80%;
    height: auto;
    border-radius: 15px 0px 15px 15px;
    background-color: #323232;
    position: absolute;
    top: 15px;
    right: 40px;
    padding: 20px;
    display: none;
}
#add_video_box h2{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
#video_name,#video_link{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
#add_video_btn{
    width: 70px;
    background-color: white;
    padding: 8px;
    border: none;
    outline: none;
}
#bottom{
    width: 100%;
    padding: 20px;
    height: 80%;
    overflow: auto;
}
#main_video_box{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 0px 6px #ccc;
    margin-bottom: 15px;
}
#playlist_video_name{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
#video_play_btn{
    width: 50%;
    border: none;
    padding: 9px;
    cursor: pointer;
    background-color: rgb(80, 80, 182);
    color: white;
    outline: none;
}
#video_delete_btn{
    width: 50%;
    border: none;
    padding: 9px;
    cursor: pointer;
    background-color: rgb(188, 72, 72);
    color: white;
    outline: none;
}
#volume_control{
    appearance: none;
    transform: rotate(270deg);
    outline: none;
    width: 100px;
    height: 20px;
    background-color: rgb(188, 72, 72);
    position: absolute;
    top: -70px;
    left: -30px;
}
#volume_control::-webkit-slider-thumb{
    appearance: none;
    width: 10px;
    height: 15px;
    background-color: white;
}
#vol_box{
    width: fit-content;
    position: relative;
}